<header>
  <a href="/html/dashboard.html">
    <div class="logoWrap"><span>Model Zero</span></div>
  </a>
  <div class="menuWrap">
    <button class="hamburger" id="menuToggle">
      <span></span><span></span><span></span>
    </button>
    <div class="sidemenu">
      <ul class="menu">
        <li><a href="/html/home.html"><p>Home</p></a></li>
        <li><a href="/html/product.html"><p>상품</p></a></li>
        <li><a href="/html/sales.html"><p>매출</p></a></li>
        <li><a href="/html/device_manage.html"><p>기기관리</p></a></li>
        <li><a href="/html/point.html"><p>포인트</p></a></li>
        <li><a href="#"><p>쇼핑몰</p></a></li>
        <li><a href="#"><p>A/S접수</p></a></li>
        <li><a href="/html/normalSet.html"><p>일반설정</p></a></li>
        <li><a href="#"><p>Zero 멤버스</p></a></li>
      </ul>
    </div>
  </div>
  <div class="user-menuWrap">
    <button class="ani-1">
      <img src="/public/img/usermenu.svg" alt="메뉴 버튼">
    </button>
    <div class="user-setBox hidden">
      <div class="popup-header"><h2>원격조정</h2><button class="close-btn">×</button></div>
      <div class="popup-body">
        <select class="popup-select">
          <option value="option1">St0086Cm0090</option>
          <option value="option2">옵션 2</option>
        </select>
        <div class="button-grid">
          <button><span><img src="/public/img/menu-set-icon01.svg" alt=""></span><span>기기 세척</span></button>
          <button><span><img src="/public/img/menu-set-icon02.svg" alt=""></span><span>컵 디스펜서</span></button>
          <button><span><img src="/public/img/menu-set-icon03.svg" alt=""></span><span>제빙기</span></button>
          <button><span><img src="/public/img/menu-set-icon04.svg" alt=""></span><span>프로그램 재시작</span></button>
          <button><span><img src="/public/img/menu-set-icon05.svg" alt=""></span><span>프로그램 종료</span></button>
          <button><span><img src="/public/img/menu-set-icon06.svg" alt=""></span><span>재부팅</span></button>
        </div>
      </div>
    </div>
  </div>
</header>