{
  "id": "test_model0000",
  "name": "test_model0000",
  "values": [
    { "key": "adminId", "value": "", "type": "default", "enabled": true },
    { "key": "adminPassword", "value": "", "type": "default", "enabled": true },
    { "key": "accessToken", "value": "", "type": "default", "enabled": true },
    { "key": "token", "value": "", "type": "any", "enabled": true }
  ]
}
