@charset "utf-8";

section.mt80.pb20 input[type="text"],
section.mt80.pb20 input[type="password"] {
  width: 50%;
}

section.mt80.pb20 .in-box input[type="text"] {
  width: 50px;
}

.icon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon-header p {
  margin: 0;
}

.icon-header button {
  background: var(--point-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
